# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local development
.DS_Store
.vscode/
.idea/

# Unused images (if you decide to remove them)
public/images/6.jpg
